.bg {
    position: relative;
     top: 100px;
      width: 258px;
      height: 10px;
      border: 0px solid;
      border-radius: 30px;
     
      padding: 270px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 10px 40px 20px rgba(4, 75, 53, 0.706) ;
    
   
    margin-left: 780px;
}
.img1{
position: relative;
bottom: 237px;
    width: 122px;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    filter: brightness(55%);
         margin:2px;
         font-weight: 900;
}
h1{
    position: relative;
    bottom: 255px;
    font-size: 21px;
    left: 90px;
    font-weight: 900;
}
strong{
    position: relative;
    bottom: 248px;
    right: 14px;
    font-size: 15px;
}

.red{
    position: relative;
    left: 90px;
    color: rgb(165, 0, 0);
}
img{
    position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.centered {
    position: absolute;
    top: 215px;
    right: 43px;
    color: aliceblue;
    font-size: 12px;
   
  }
  .bottom-left {
    position: absolute;
    bottom: 319px;
    left: 65px;
color: aliceblue;
font-size: 12px;
  }
  .top-left {
    position: absolute;
    top: 135px;
    left: 52px;
    color: aliceblue;
    font-size: 12px;
  }
  .top-right {
    position: absolute;
    top: 135px;
    right: 51px;
    color: aliceblue;
    font-size: 12px;
  }

  .linear_gradient {
    width: 260px;
    height: 270px;
    background: linear-gradient(rgb(236, 225, 225), rgb(149, 166, 168));
    position: relative;
    bottom: 240px;
}
.one{
    margin: 0 auto;
        width: 240px;
        height: 10px;
        border: 25px solid rgb(255, 255, 255);
        border-radius: 17%;
        position: relative;
        top: -290px;
        right: 15px;
}
.one2{
    margin: 0 auto;
        width: 240px;
        height: 0px;
        border: 15px solid rgb(255, 255, 255);
        border-radius: 30%;
        position: relative;
        top: -329px;
        right: 0px;
}

.ic1{
    position: relative;
    left: 250px;
    top: -843px;
}

.ic2{
   

    position: relative;
    left: -12px;
    top: -870px;
}
.oth{
    position: relative;
    bottom: 253px;
    position: absolute;
    right: 160px;
}
button{
    width: 240px;
    height: 40px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 10%;
     font-size: 13px;
     position: relative;
     top: 20px;
     left: 6px;
     margin: 5px;
     text-align: left;
    font-weight: 900;
}
p{
    font-size: 11px;
    color: rgb(113, 113, 113);
    position:relative ;
    top: -10px;
}
.img2{
    width: 25px;
    margin-left: 30px;
      position: relative;
    bottom: 365px;
    left: -10px;
    }

    .img3{
        width: 13px;
        position: relative;
        bottom: 469px;
        left: -10px;

    }


    .img4{
        position: relative;
        bottom: 464px;
        width: 13px;
        right: -232px;
    }
    .img5{
        position: relative;
        bottom: 564px;
        width: 13px;
        right: -215px;
    }
    .img6{
        position: relative;
        bottom: 615px;
        width: 13px;
        left: 196px;
    }
    div{
        font-weight: 900;
    }
    .gem{
        position: relative;
    bottom: 870px;
    right: -190px;
    width: 25px;
    }
    .Rmx{
        bottom: 865px;
        right: 100px;
    }