.page2{
    background-color: rgb(210, 223, 183);
   
    width: 1450px;
    height: 80px;

}

ul {
    list-style: none;
}



.page {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    right: 130px;
}

header {
    width: 50;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
    padding: 0px;
    margin-right: 100px;
    margin-left: 100px;
}
nav{
    font-size: 30px;
    align-items: center;
    padding: 70px;
    position: relative;
    bottom: 100px;
}
.she{
    position: relative;
  bottom: 100;
}

